@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin');
#protograph-div {
  overflow: hidden;
}
body{
  overflow: hidden;
}
.proto-data-grid-card{
height: 160px;
    width: 140px;
    background: #fafafa;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.proto-sector-name{
  font-size: 10px;
  font-family: cabin;
  color: #333;
  opacity: 0.5;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.proto-company-name{
  font-size: 16px;
  font-family: "cabin";
  color: #333;
  line-height:20px;
  word-wrap: break-word !important;
}

.proto-parameter-bars{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 140px;
}

.proto-single-bar{
  height: 5px;
  background: #1C728A;
  float: left;
  width: 28px;
}


#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}

@media only screen and (max-width: 500px){
  .proto-grid-container {
    width: 100%;
    padding-left: 0px; }

  .col-7 {
    width: 100%; }

  .col-16 {
    width: 100%; }

  .col-4 {
    margin-left: 50%;
    transform: translate(-50%, 0); }

  .col-3 {
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0); }

  .col-2 {
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0); }

	div.col-2> div:nth-of-type(even) {
	    margin-right: 0px;
	}
}

@media only screen and (max-width: 450px){
  .no-left-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .no-right-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}